ion-item-group {
  display: inherit;
}

.btn {
    background-color: transparent;
    border-color: #72983a;
    color: #72983a;
    border: 1px solid;
    padding: 1% 5%;
    width: 5rem;
    border-radius: 3px;
    float: right !important;
}

.btn-close{
  border: 0;  
  padding: 2%;
  font-size: 1em;
  color: grey;
}
