<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>

          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>

          <ion-item lines="full" *ngFor="let legend of legends">
            <!-- Quando a posição do legend for a mesma do nome atual é para editar -->
            <ion-item-group *ngIf=" legends.indexOf(legend) == legends.indexOf(currentName) ">
              <ion-input type="text" [(ngModel)]="editingCurrentName">
              </ion-input>
              <button type="button" (click)="cancelEdit()" class="btn btn-close"> X </button>
              <button type="submit" (click)="submit()" class="btn"> SAVE </button>
            </ion-item-group>
            <!-- Quando a posição do legend for diferente do nome atual é para listar -->
            <ion-item-group *ngIf=" legends.indexOf(legend) != legends.indexOf(currentName) ">
              <ion-label>
                {{ legend }}
              </ion-label>
              <button (click)="onItemClicked(legend)" class="btn"> EDIT </button>
            </ion-item-group>

          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>